@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Spartan',sans-serif;
}
h1
{
    font-size: 50px;
    line-height: 64px;
    color: #14442c;
}
h2{
    font-size:46px;
    line-height: 54px;
    color:#0d5f95;
}
h3{
    font-size:20px;
    color:#812d2d;
}
h4{
    font-size:20px;
    color:#538f0e;
}
h6{
    font-size:700;
    font-size:12px;
}
p{
    font-size:16px;
    color:#166142;
    margin: 15px 0 20px 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
}

.container h1{
    font-size: 3em;
    color: #2c3e50;
    margin-bottom: 0.5em;
}
.container h3 {
    padding: 1.25%;
    font-size: 1.2em;
    color: #0f8076;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.benefits {
    padding-left: 2em;
    list-style-type: decimal;
}

.benefits li {
    margin-bottom: 0.5em;
}
.crops {
    display: flex;
    justify-content: space-between;
}

.seeds-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
    width: 23%;
    min-width: 250px ;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    align-items: row
     ;
}
.seeds-container img
{
    width: 23%;
    min-width: 250px ;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
}